@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
*{
    font-family: 'Source Code Pro', monospace;
}
.create_user{
    padding:2rem;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
   
}
#signup{
    display: none;
    margin-left:auto; 
   
}
.heading{
    text-align: center;
    text-transform:uppercase;
}
.btn,:link,:visited{
    border-radius: 5%;
    width: 15rem;
    padding: .5rem 2rem .5rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    box-shadow: .6rem 0.9rem 2rem 0.5rem #999;
    color: #333;
    transition: all .4s;
}
.btn:hover{
    box-shadow: .6rem 0.9rem 3rem 0.5rem #999;
}
#form-errors{
    color: red;
}
.read_all_task{
    position: relative;
    transition:all 1s;
    padding: 2rem;
    text-align:center;
    display: none;
}
.login{
    text-align: center;
    width: 100%;
}
.tables{
    margin-left:auto; 
    margin-right:auto;
}

